__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
build/
dist/
.venv/
debian/.debhelper/
debian/purge-linux/
debian/files
debian/*.log
debian/*.substvars
debian/debhelper-build-stamp
debian/*.debhelper
.pybuild/
../purge-linux_*
